{% autoescape off %}
Sveiki,

Jūs gaunate šį laišką, nes jūs (arba kas nors kitas) paprašė slaptažodžio atstatymo jūsų paskyrai mūsų svetainėje.

Norėdami atstatyti slaptažodį, spustelėkite žemiau esančią nuorodą ir pasirinkite naują slaptažodį:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Jei nesikreipėte dėl slaptažodžio atstatymo, tiesiog ignoruokite šį el. laišką ir jūsų slaptažodis liks nepakitęs.

Ačiū,
{{ site_name }} komanda
{% endautoescape %}
